.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.hide{
    display:none;
}
p, span{
    margin: 0rem;
    padding: 0rem;
}
li{
    list-style-type: none;
    color: white;
}
li a{
    text-decoration:none;
    color: inherit;
}
li a:hover{
    text-decoration: none;
    color: inherit;
}
li:hover{
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(to right, #9B2DEF 0%, #2DCEEF 100%);
    opacity: 1;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 40px 3px;
}
.active{
    background-image: linear-gradient(to right, #9B2DEF 0%, #2DCEEF 100%);
    opacity: 1;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 40px 3px;
}
.playlists-details-page-wrapper{
    min-height: 100vh;
    background-image: url(../../assets/playlists-bg.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}
.playlists-details-container{
    padding: 3rem 7rem;
    color: white;
}
.playlists-details-container nav{
    align-items:flex-end;
    padding: 0rem;
    line-height: 2;
}
.playlists-details-container nav .playlist-title{
    font-size: 4rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 1;
}
.playlists-details-container nav li{
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}
.playlists-details-container .div-wrapper{
    margin: 4rem 0rem;
}
.playlists-details-container .div-wrapper .sub-header {
    align-items: flex-end;
}
.playlists-details-container .div-wrapper .sub-header span:first-of-type{
    font-size: 1.5rem;
    font-weight: bold;
}
.playlists-details-container .div-wrapper .sub-header span:nth-of-type(2){
    font-size: 1rem;
    color: #d5d5d5;
    cursor: pointer;
}
.playlists-details-container .card-group{
    display: grid;
     grid-template-columns: repeat(auto-fill, 15%);
     justify-content: space-between;
     grid-gap: 1rem;
}
.playlists-details-container .card{
    border-radius: 0.5rem;
    position: relative;
    border: none;
    background-color: transparent;
}
.playlists-details-container .card-wrapper{
    margin: 0rem 0rem 3rem 0rem;
}
.playlists-details-container .card-wrapper .card-playlist-details{
    align-items: flex-start;
    margin-top: 0.5rem;
}
.playlists-details-container .card:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 2s;
    background-color: transparent;
}
.playlists-details-container .card .card-title{
    position: absolute;
    top: 5%;
    right: 10%;
    margin: 0;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}
.playlists-details-container .card-image-div{
    width: 100%;
    height: 100%;
}
.playlists-details-container .card-image-div img{
    width: 100%;
    object-fit: cover;
    background-size: contain;
    border-radius: 0.5rem;
}
.playlists-details-container .card-overlay{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    opacity: 1;
    background-color: rgba(155, 45, 239, 0.55);
    border-radius: 0.5rem;
}
.playlists-details-container .sub-header{
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.playlists-details-container .sub-header span a{
    color: white;
    text-decoration: none;
}
.playlists-details-container .playlists-details-container .card-playlist-details{
    margin: 0rem 0rem 0rem 0rem;
    font-size: 0.75rem;
}
.playlists-details-container .card-playlist-details .playlist-name{
    text-align: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0;
}
.playlists-details-container .likes-div{
    font-size: 0.875rem;
    color: #99999f;
    font-weight: bold;
    align-items: center;
    margin-top: 0rem;
}
.playlists-details-container .likes-div .icon{
    margin: 0rem 0.5rem 0rem 0rem;
    font-size: 1rem;
}