.firstView {
  width: 100vw !important;
  height: 100vh !important;
  background: transparent url('../../../assets/BG.png') 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
.firstViewWrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding-top: 200px !important;
}

.firstViewText {
  width: 574px !important;
  height: 121px !important;
}
.firstViewText p {
  text-align: center !important;
  font: normal normal 900 48px/64px Lato !important;
  letter-spacing: 0.96px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
.viewAndButtonBox {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 430px !important;
}
.firstViewButtonDiv {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-top: 100px !important;
}
.firstButton {
  padding: 10px 30px !important;
  width: 230px !important;
  height: 46px !important;
  text-align: center !important;
  letter-spacing: 0.1px !important;
  border: 1.5px solid #0022ff66 !important;
  border-radius: 40px !important;
  color: #ffffff !important;
  opacity: 1 !important;
  background: transparent linear-gradient(269deg, #9b2def 0%, #2d9bef 61%, #35edfb 100%) 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 20px #0022ff66 !important;
}
.secondButton {
  left: 970px !important;
  width: 230px !important;
  height: 46px !important;
  border: 1.5px solid #ffffff !important;
  border-radius: 90px !important;
  opacity: 1 !important;
  color: #ffffff !important;
  margin-left: 20px;
}
.paragraph {
  text-align: center !important;
  letter-spacing: 0.1px !important;
  opacity: 1 !important;
  color: #ffffff !important;
  margin-top: 20px !important;
}
.paragraph span {
  text-align: center !important;
  letter-spacing: 0.1px !important;
  color: #2dceef !important;
  margin-left: 5px !important;
}
@media screen and (max-width: 1000px) {
  .firstViewButtonDiv {
    flex-direction: column-reverse !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 150px !important;
  }
  .firstViewText {
    width: 90vw !important;
    text-align: center !important;
    font-size: 12px !important;
    color: #ffffff !important;
    opacity: 1 !important;
  }
  .secondButton {
    margin-top: 20px !important;
  }
}
