* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.divWrapper {
  background: transparent url('../../../assets/BG.png') 0% 0% no-repeat padding-box !important;
  height: 100vh !important;
  width: 100vw !important;
}
.ModalWrapper {
  position: absolute !important;
  z-index: 500 !important;
  background-color: #cecece !important;
  min-width: 50% !important;
  border-radius: 5px !important;
  margin-top: 10px !important;
  box-sizing: border-box !important;
  transition: all 0.5s ease-out !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.show {
  opacity: 1 !important;
  top: 55% !important;
  /* transform: translate(-50%, -50%); */
}
.hide {
  opacity: 0 !important;
  top: -100% !important;
  /* transform: translate(0, 0); */
}
.close {
  font-size: 20px !important;
  color: black !important;
  padding: 20px !important;
  width: 98% !important;
}
.arrow {
  display: none !important;
}
.imgClose {
  float: right !important;
}
.linkfacebook {
  color: white !important;
  text-decoration: none !important;
}
.linkgoogle {
  color: black;
  text-decoration: none !important;
}
.header {
  width: 80% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 50px !important;
}
.paragraph {
  width: 80%;
  text-align: center;
  font-size: 14px;
}
.ModalBody {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.ModalHeaderText {
  font: normal normal 900 26px/30px sans-serif !important;
  color: #161a1a !important;
  letter-spacing: 0.17px !important;
  text-align: center !important;
  margin-top: -20px !important;
}
.ModalHeader2 {
  display: none !important;
}
.ModalSocialMedial {
  display: flex !important;
  justify-content: space-between !important;
  width: 66% !important;
  max-width: 400px !important;
}
.socialLoginText {
  display: flex;
  justify-content: space-evenly;
}
.mobileOnly {
  display: none;
}
.ModalFaceBookButton {
  align-items: center !important;
  width: 47% !important;
  height: 40px !important;
  border-radius: 50px !important;
  font-size: 18px !important;
  opacity: 1 !important;
  color: #fff !important;
  font-size: 20px !important;
  background: #4267b2 0% 0% no-repeat padding-box !important;
  padding-right: 40px !important;
  border: none !important;
  outline: none !important;
}
.ModalGoogleButton {
  align-items: center !important;
  width: 47% !important;
  height: 40px !important;
  border-radius: 50px !important;
  font-size: 20px !important;
  opacity: 1 !important;
  color: #303033 !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  padding-right: 40px !important;
}
.FormWrapper {
  width: 80% !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.form {
  width: 100% !important;
  margin-top: 8px !important;
}
.Form {
  width: 90% !important;
  margin: 30px 0 !important;
  margin-left: 30px !important;
}
.TextLabel {
  display: none;
}
.FormInput {
  width: 100% !important;
  height: 40px !important;
  border-radius: 5px !important;
  color: #161a1a !important;
  opacity: 0.78px !important;
  font-size: 0.9rem !important ;
  border: 1px solid #2d9bef !important;
  padding: 0 20px !important;
  /* padding-left: 20px; */
  background: #f8fcff 0% 0% no-repeat padding-box !important;
}
.ModalFormChild {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  margin-top: -20px !important;
}
.InputLabel {
  margin-left: 10px !important;
  margin-top: 8px !important;
}
.Icon {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-size: 23px !important;
  color: #99999f !important;
  letter-spacing: 0.07px !important;
}
.ModalLogin {
  width: 30% !important;
  border-radius: 20px !important;
  font-size: 16px !important;
  opacity: 1 !important;
  color: #fff !important;
  background: #2d9bef 0% 0% no-repeat padding-box !important;
  border: none !important;
  text-align: center !important;
  padding: 8px 0 !important;
}
.ModalSignUp {
  width: 60% !important;
  height: 40px !important;
  border-radius: 40px !important;
  border: 2px solid #161a1a !important;
  margin-bottom: 20px !important;
  outline: none !important;
  margin-left: 5px !important;
  opacity: 1 !important;
  background: #fff !important;
  font: normal normal bold 16px/19px sans-serif !important;
  letter-spacing: 0.1px !important;
}
.Para {
  font: normal normal bold 10px/12px sans-serif !important;
  letter-spacing: 0.07px !important;
  color: #2d9bef !important;
  margin-top: 10px !important;
}
.BtnP {
  margin-top: 40px !important;
  letter-spacing: 0.1px !important;
  color: #161a1a !important;
}
@media screen and (max-width: 1000px) {
  .ModalWrapper {
    position: absolute !important;
    z-index: 500 !important;
    background-color: #cecece !important;
    min-width: 80% !important;
    border-radius: 5px !important;
    margin-top: 10px !important;
    box-sizing: border-box !important;
    transition: all 0.5s ease-out !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

@media screen and (max-width: 600px) {
  .divWrapper {
    height: 100vh !important;
    width: 100vw !important;
    margin-bottom: 0 !important;
  }
  .close {
    color: white !important;
  }
  .imgClose {
    display: none !important;
  }
  .arrow {
    display: block !important;
    color: white !important;
    font-size: 20px;
  }
  .ModalBody {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-evenly !important;
  }
  .ModalWrapper {
    position: relative !important;
    margin-top: 0 !important;
    background: transparent linear-gradient(189deg, #ca42f2 0%, #6a42f2 40%, #4294f2 72%, #42b5f2 100%) 0% 0% no-repeat
      padding-box !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    transition: all 0.5s ease-out !important;
  }
  .ModalFormChilds,
  .Para,
  .BtnP,
  .ModalSignUp {
    display: none !important;
  }
  .ModalSocialMedial {
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    height: 100px !important;
    margin-top: -100px;
  }
  .ModalFaceBookButton {
    width: 90% !important;
  }
  .ModalGoogleButton {
    width: 90% !important;
    border: none !important;
  }
  .ModalFormChild {
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .ModalLogin {
    margin-top: 30px;
    width: 40% !important;
    background: transparent !important;
    border: 1px solid white !important;
  }
  .FormWrapper {
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: -150px !important;
    align-items: space-between !important;
    justify-content: space-between !important;
  }
  .TextLabel {
    display: block;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .FormInput {
    display: block;
    opacity: 1;
  }
  .ModalBody {
    flex-direction: column-reverse !important;
  }
  .ModalHeaderText {
    display: none !important;
  }
  .ModalHeader2 {
    display: block !important;
    font: normal normal 900 26px/30px sans-serif !important;
    color: white !important;
    letter-spacing: 0.17px !important;
    text-align: center !important;
    margin-top: 20px !important;
  }
  .header {
    margin-top: 10px !important;
  }
  .mobileOnly {
    display: inline-block;
  }
}
