/* * {
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, 'Trebuchet MS', Verdana, sans-serif !important;
} */


/**first view **/
.viewAndButtonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 430px;
}

.firstButton {
  padding: 10px 30px;
  height: 46px !important;
  text-align: center !important;
  letter-spacing: 0.1px !important;
  border: 1.5px solid #0022ff66 !important;
  border-radius: 40px !important;
  color: #ffffff !important;
  opacity: 1 !important;
  background: transparent linear-gradient(269deg, #9b2def 0%, #2d9bef 61%, #35edfb 100%) 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 20px #0022ff66 !important;
}
.secondButton {
  left: 970px !important;
  width: 230px !important;
  height: 46px !important;
  border: 1.5px solid #ffffff !important;
  border-radius: 90px !important;
  opacity: 1 !important;
  color: #ffffff !important;
  margin-left: 20px;
}
/** SecondView**/

/** third view **/

/** fourth view**/
.fourthView {
  background: #161a1a 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100vw;
  height: auto;
  padding: 0 10vw;
}
.fourthViewDiv {
  display: flex;
}
.fourthViewLeft {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  width: 50%;
}
.fourthViewLeft h2 {
  width: 401px;
  text-align: left;
  font: normal normal 900 36px/34px Lato;
  letter-spacing: 0.36px;
  color: #ffffff;
  opacity: 1;
}
.fourthViewLeft p {
  width: 470px;
  text-align: left;
  font: normal normal normal 20px/35px Lato;
  letter-spacing: 0.32px;
  color: #ffffff;
}
.fourthViewLeft p span {
  text-align: left;
  font: normal normal bold 20px/35px Lato;
  letter-spacing: 0.32px;
  color: #2dceef;
}
.fourthViewRight {
  width: 50%;
  height: 650px;
}
.fourthViewRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fourthViewPremium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourthViewPremium h2 {
  text-align: center;
  font: normal normal 900 36px/44px Lato;
  letter-spacing: 0.36px;
  color: #ffffff;
  opacity: 1;
}
.fourthViewPremium p {
  font: normal normal normal 20px/24px Lato;
  letter-spacing: 0.2px;
  color: #afafaf;
  opacity: 1;
}
.fourthViewIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
  width: 872px;
}
.fourthViewIconDivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.displayText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayText h2 {
  text-align: left;
  font: normal normal normal 20px/24px Lato;
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 1;
}
.displayText p {
  text-align: left;
  font: normal normal normal 14px/17px Lato;
  letter-spacing: 0.14px;
  color: #afafaf;
  opacity: 1;
}
.imgWrapperimg {
  width: 70px;
  height: 70px;
}
.fourthViewParagraph {
  margin-top: 100px;
  text-align: center;
  font: normal normal normal 20px/24px Lato;
  letter-spacing: 0.2px;
  color: #afafaf;
  opacity: 1;
}
.fourthViewBox {
  display: flex;
  justify-content: center;
  width: 872px;
  margin: 15px auto;
}
.fourthViewFirstBox {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffffff;
  border-radius: 8px;
  opacity: 1;
  width: 320px;
  color: #ffffff;
  height: 360px;
  margin: 0 10px;
  padding: 20px;
}
.fourthViewSecondBox {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 314px;
  height: 360px;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-color: linear-gradient(281deg, #9b2def 0%, #2d9bef 58%, #35edfb 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  background: #252727 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 20px;
  margin-left: 30px;
}
.fourthViewBox p {
  margin-left: 0 !important;
}
.fourthViewBox ul {
  list-style-type: circle;
  margin-top: 50px;
  margin-left: 30px;
}
.fourthViewBox ul li {
  margin: 20px 5px;
}
.fourthViewSecondBox ul {
  margin-top: 20px;
}
.fourthViewSecondBox span {
  text-align: center;
  font: normal normal bold 24px/19px Lato;
  letter-spacing: 0.24px;
  color: #2dceef;
}
.fourthViewFirstBox span {
  text-align: center;
  font: normal normal bold 24px/19px Lato;
  letter-spacing: 0.24px;
  color: #ffffff;
}
.buttonDiv {
  width: 870px;
  display: flex;
  justify-content: space-evenly;
}

/** fifth view**/
.fifthView {
  background: #111313 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
}
.fifthViewBox {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
}
.logoDiv {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}
.logoDiv img {
  width: 48px;
  height: 48px;
}
.footerUl {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerUl ul {
  list-style: none;
  margin-top: 20px;
}
.footerUl h6 {
  text-align: left;
  font: normal normal bold 14px/32px Lato;
  letter-spacing: 0.08px;
  color: #848484;
  opacity: 1;
}
.footerUl ul li {
  margin: 15px;
  margin-left: 0;
}
@media screen and (max-width: 1000px) {
  .firstViewButtonDiv {
    flex-direction: column-reverse;
    align-items: center;
  }
  .firstViewText {
    width: 324px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    opacity: 1;
  }
  .secondButton {
    margin-top: 20px;
    font-size: 13px;
  }

  .firstButton {
    font-size: 13px;
    margin-left: 0;
  }
  /**second view**/
  .secondViewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondViewImgDiv {
    width: 384px;
    height: 389px;
  }
  .rightSide {
    margin-top: 0;
    font-size: 16px;
    margin-left: 20px;
  }
  .rightSide p {
    width: 374px;
    text-align: left;
    font: normal normal normal 16px/24px Lato;
    letter-spacing: 0.29px;
  }
  .flowSvg {
    opacity: 1;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    object-fit: contain;
  }
  .flowSvgParagrahp {
    font: normal normal 900 40px/8px Lato;
    letter-spacing: -0.8px;
  }
  /**third view **/
  .thirdView {
    background: #161a1a 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 500px;
  }
  .thirdViewImage {
    display: block;
    width: 100%;
    height: 276px;
  }
  .thirdViewImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thirdViewText {
    padding-top: 20%;
    margin-left: 10%;
  }
  .thirdViewText h2 {
    text-align: left;
    font: normal normal 900 24px/34px Lato;
    letter-spacing: 0.24px;
    color: #ffffff;
    opacity: 1;
  }
  .thirdViewText p {
    width: 347px;
    text-align: left;
    font: normal normal normal 16px/24px Lato;
    letter-spacing: 0.29px;
    color: #ffffff;
    opacity: 1;
  }
  /**fourthView **/
  .fourthViewDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .fourthViewIcons {
    flex-direction: column;
    margin: 0;
  }
  .fourthViewIconDivs {
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
  }
  .viewAndButtonBox {
    margin-bottom: 20px;
  }
  .displayText {
    width: 260px;
    align-items: flex-start;
  }
  .displayText h2 {
    text-align: left;
    font: normal normal normal 20px/24px Lato;
    letter-spacing: 0.2px;
    color: #ffffff;
    opacity: 1;
  }
  .displayText p {
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0.14px;
    color: #afafaf;
    opacity: 1;
  }
  .fourthViewIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin: 10px 0;
    width: 354px;
    height: 400px;
  }
  .imgWrapperimg {
    width: 70px;
    height: 70px;
  }
  .fourthView {
    padding: 0;
    height: auto;
  }
  .fourthViewLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    margin: 0 auto;
    width: 400px;
    text-align: left;
  }
  .fourthViewLeft h2 {
    font: normal normal 900 24px/34px Lato;
    letter-spacing: 0.24px;
    width: 400px;
  }
  .fourthViewLeft p {
    font: normal normal normal 16px/24px Lato;
    letter-spacing: 0.29px;
    margin: 30px 0;
    width: 400px;
  }
  .fourthViewLeft p span {
    text-align: left;
    font: normal normal bold 20px/35px Lato;
    letter-spacing: 0.32px;
    color: #2dceef;
  }
  .fourthViewDiv {
    flex-direction: column-reverse;
  }
  .fourthViewRight {
    width: 400px;
    height: auto;
  }
  .fourthViewParagraph {
    display: none;
  }
  .fourthViewBox {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: space-between;
    width: 400px;
    margin: 15px 10px;
  }

  /**fifth view**/
  .fifthViewBox {
    padding: 30px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footerUl {
    flex-wrap: wrap;
    width: 90vw;
  }
  .footerUl ul {
    list-style: none;
    margin-top: 20px;
    width: 40vw;
  }
}
